<!DOCTYPE html>
<html>
  <head>
    <title>Curry</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/562726bce9.js"></script>
    <!--<src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js">-->
  </head>
  <body>
    <% current_user = User.find_by(id: session[:user_id]) %>
    <!--<%= link_to("ユーザー一覧", "/users/index") %>-->
    
     <nav class="navbar navbar-expand-sm navbar-dark bg-warning mt-3 mb-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">Curry Serch</a>
        <div class="collapse navbar-collapse justify-content-end">
          <ul class="navbar-nav">
            <% if current_user %>
                <li class="nav-item active">
                    <a class="nav-link" href="#">現在ログインしているユーザー</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#"><%= current_user.name %></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/posts/new">新規投稿</a>
                </li>
                <li class="nav-item">
                    <%= link_to "/logout", class:"nav-link",method: :post do %>
                    <i class="fas fa-sign-out-alt"></i>
                    <% end %>
                </li>
            <% else %>
              
              <li class="nav-item">
                <a class="nav-link" href="/about">Curry Searchとは</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">ログイン</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/curry/new">新規登録</a>
              </li>
            <% end %>
            </ul>
        </div>
    </nav>    
    
    <% if flash[:notice] %>
      <div class="alert alert-warning">
        <%= flash[:notice] %>
      </div>
    <% end %>
    
    <%= yield %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>
</html>
